#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

%:
	dh $@

override_dh_auto_build:
	(cat -- debian/build/rbenv-header.pandoc && cat -- README.md) \
		| pandoc -s -r markdown -w man > debian/build/rbenv.1

override_dh_auto_clean:
	rm -f -- debian/build/rbenv.1

	dh_auto_clean
